* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #0b0f14;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    text-align: center;
    padding: 15px;
    background: #111827;
}

.game {
    width: 90%;
    max-width: 850px;
    margin-top: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.multiplier {
    text-align: center;
    font-size: 70px;
    color: #00ff99;
    margin: 10px 0;
}

/* GAME AREA */
.graph {
    position: relative;
    height: 300px;
    border-radius: 15px;
    background: rgba(255,255,255,0.03);
    border: 1px solid rgba(255,255,255,0.1);
    overflow: hidden;
}

/* ROCKET FIX (always visible) */
#rocket {
    position: absolute;
    font-size: 30px;
    left: 0;
    bottom: 0;
    transform: translate(0%, 0%);
}

/* PATH */
.path {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background: #00ff99;
    width: 0%;
}

/* BET PANEL */
.bet-panel {
    position: absolute;
    left: 15px;
    bottom: 15px;
    background: rgba(0,255,153,0.08);
    padding: 12px;
    border-radius: 10px;
    width: 180px;
}

.bet-panel input {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
}

.bet-panel button {
    width: 100%;
    padding: 8px;
    background: #00ff99;
    border: none;
    cursor: pointer;
}

/* CASH PANEL */
.cash-panel {
    position: absolute;
    right: 15px;
    bottom: 15px;
    background: rgba(255,0,60,0.08);
    padding: 12px;
    border-radius: 10px;
    width: 180px;
}

.cash-panel button {
    width: 100%;
    padding: 8px;
    background: #ff0040;
    border: none;
    color: white;
    cursor: pointer;
}
